html {
    box-sizing: border-box;
}
body {
    background-color: rgb(115, 175, 138);
    display: grid;
    grid-template-areas: "nav list";
    grid-template-columns: auto 1fr;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
header {
    height: 100vh;
    width: 100vw;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 2;
    background-size: cover;
    background-position: center;
}
header form {
    width: 60%;
    margin-bottom: 20px;
    box-sizing: border-box;
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: bold;
}
header input {
    width: 100%;
    height: 1.75rem;
    border-radius: 15px;
    text-align: center;
}

.login_box, .login_clicked_box, .register_clicked_box {
    width: 40%;
    min-width: 300px;
    height: 70%;
    min-height: 450px;
    background-color: rgba(255, 255, 255, 0.692);
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    border-radius: 15px;
    box-shadow: 6px 6px 20px rgba(0, 0, 0, 0.5);
}
.login_clicked_box, .register_clicked_box {
    display: none;
    align-items: center;
}
.login_logo {
    height: 60%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.login_logo img {
    width: 50%;
}
.login_description {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 10%;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: bold;
    font-size: calc(8px + 1vw);
}
.login_buttons {
    height: 30%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
button:focus {
    outline: 0;
}
.login_clicked_box button, .register_clicked_box button {
    margin-bottom: 60px;
    box-sizing: border-box;
}
.login_buttons button, .login_clicked_box button, .register_clicked_box button {
    box-sizing: border-box;
    height: 3.125rem;
    width: 40%;
    border-radius: 15px;
    border: none;
    font-weight: bold;
    font-size: 1.125rem;
    text-align: center;
    color: white;
}
.login_button {
    background-color: rgb(55, 209, 114);
}
.login_button:hover {
    background-color: rgba(255, 255, 255, 0.692);
    border: 3px solid rgb(55, 209, 114);
    color: rgb(55, 209, 114);
}
.register_button {
    background-color: rgb(214, 24, 56);
}
.register_button:hover {
    background-color: rgba(255, 255, 255, 0.692);
    color: rgb(214, 24, 56);
    border: 3px solid rgb(214, 24, 56);
}
.nav-container{
    grid-area: nav;
    position: relative;
}
#navigation {
    border: 1px solid black;
    height: 100vh;
    display: grid;
    grid-template-areas: "user-section"
                            "todo-list";
    grid-template-rows: auto 1fr;
    min-width: 190px;
    width: 27vw;
    position: relative;
    z-index: 1;
}

#hamburger {
    padding: 5px;
    width: 50px;
    top: 0;
    position: absolute;
    border: none;
    background-color: rgb(98, 250, 27);
    right: 0;
    outline:none;
    display: none;
  }
#hamb3urger:focus{
    background-color: red;
}
  #hamburger:after, 
  #hamburger:before, 
  #hamburger div {
    background-color: #fff;
    border-radius: 4px;
    content: '';
    height: 2px;
    display: block;
    margin: 3px 0;
    transition: all .3s ease-in-out;
  }
  #hamburger:hover:before {
    transform: translateY(5px) rotate(135deg);
  }
  
  #hamburger:hover:after {
    transform: translateY(-5px) rotate(-135deg);
  }
  
  #hamburger:hover div {
    transform: scale(0);
  }
  #hamburger.turnRight {
    -webkit-transition: 1s;
    -moz-transition: 1s;
    -ms-transition: 1s;
    -o-transition: 1s;
    transition: 1s;
    right: 0;
  }
  #hamburger.turnLeft {
    -webkit-transition: 1s;
    -moz-transition: 1s;
    -ms-transition: 1s;
    -o-transition: 1s;
    transition: 1s;
    right: -50px;
  }
.user_section {
    grid-area: user-section;
    padding: 15px;
    margin: 0 auto;
    text-align: center;
}
.user_section img {
    width: 50%;
    min-width: 100px;
    padding: 0;
    position: relative;
    margin-top: 0;
    background-color: #fff;
}
.user_section p {
    font-size: 24px;
    margin: auto;
    margin-top: 10px;
}
#profile-picture {
    position: relative;
}
#profile_select{
    position: absolute;
    top: 0;
}
.list-group {
    list-style-type: none;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    overflow: scroll;
    
}
.list-group li {
    border: 1px solid rgba(255, 255, 0, 0.315);
    height: 8%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    box-sizing: border-box;
}
.list-group li button {
    position: absolute;
    right: 3%;
    opacity: 0;
    height: 80%;
    font-size: 18px;
    width: auto;
}
.list-group li .delete {
    right: 15%;
}

.list-group li:hover {
    background-color: aquamarine;
}
.list-group li:hover button{
    opacity: 1;
}
#adding_panel {
    display: grid;
    grid-template-columns: 80% 20%;
    height: 5vh;
   
}
#adding_panel input {
    width: 100%;
}
.todo_lists {
    grid-area: todo-list;
}
.todo_list{
    grid-area: list;
    border: 1px solid black;
    height: 100vh;
    display: grid;
    grid-template-areas: "graphic"
                            "tasks";
    grid-template-rows: 25% 1fr;
}
.graphic_background {
    grid-area: graphic;
    background-color: rgba(18, 83, 83, 0.507);
}
.todo_tasks {
    grid-area: tasks;
    background-color: rgba(255, 255, 255, 0.342);
}






@media (max-width: 700px) {
    .login_box, .login_clicked_box, .register_clicked_box {
        width: 80%;
    }
    #navigation {
        position: absolute;
        background-color: rgb(115, 175, 138);
        left: -190px;
    }
    .nav-container {
        position: relative;
    }
    #hamburger {
        display: block;
       position: absolute;
       height: 30px;
       width: 30px;
        background-color: rgb(0, 0, 0);
    }
    #hamburger.turnRight {
        left: 0px;
        z-index: 5;
    }
    #hamburger.turnLeft {
        left: 161px;
        z-index: 5;
    }
    #navigation.goRight {
        -webkit-transition: 1s;
        -moz-transition: 1s;
        -ms-transition: 1s;
        -o-transition: 1s;
        transition: 1s;
        left: 0;
      }
    #navigation.goLeft {
        -webkit-transition: 1s;
        -moz-transition: 1s;
        -ms-transition: 1s;
        -o-transition: 1s;
        transition: 1s;
        left: -190px;
      }
}
